/* stylesheet for Match My Mood */
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    background-size: cover;
    min-height: 100%;
}
body {
    margin: 0% 10%;
}
.bg-ha {
    background-image: linear-gradient(115deg, #ba667eb3, #f6bac7b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-sa {
    background-image: linear-gradient(115deg, #0a1c38b3, #6884b0b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-ca {
    background-image: linear-gradient(115deg, #0a3819b3, #599e6fb3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-hy {
    background-image: linear-gradient(115deg, #ffdd00b3, #faf1b1b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-ti {
    background-image: linear-gradient(115deg, #271f30b3, #9c96a3b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-en {
    background-image: linear-gradient(115deg, #ff9900b3, #ffc978b3),
        url(../assets/images/white-painted-wall-1939485.png);
}

.modal-background {
    background-image: url(../assets/images/modal-bg2-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-content {
    background-image: linear-gradient(#a2fced, #4287f5b3);
    width: 60%;
    height: 60%;
    padding: 4% 7%;
}

h1 {
    font-size: 35px;
    color: white;
    text-align: center;
}
.time-spot {
    padding-top: 15px;
    margin-bottom: 7%;
}
.card {
    height: 300px;
    padding: 0% 7%;
}
.quote-card {
    text-align: center;
}
.title {
    font-size: x-large;
}
.other-card {
    margin-bottom: 15%;
}