/* stylesheet for Match My Mood */
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    background-size: cover;
    min-height: 100%;
}
body {
    margin: 0% 10%;
}
.bg-ha {
    background-image: linear-gradient(115deg, #ba667eb3, #f6bac7b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-sa {
    background-image: linear-gradient(115deg, #0a1c38b3, #6884b0b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-ca {
    background-image: linear-gradient(115deg, #0a3819b3, #599e6fb3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-hy {
    background-image: linear-gradient(115deg, #b30000b3, #ff0000b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-ti {
    background-image: linear-gradient(115deg, #271f30b3, #9c96a3b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.bg-en {
    background-image: linear-gradient(115deg, #43b000b3, #e4ffd4b3),
        url(../assets/images/white-painted-wall-1939485.png);
}
.card-ha {
    height: 300px;
    padding: 0% 7%;
    background-color: #ffe3e999;
    box-shadow: 5px 10px 18px #b88895;
}
.card-sa {
    height: 300px;
    padding: 0% 7%;
    background-color: #98a5b899;
    box-shadow: 5px 10px 18px #4e5d73;
}
.card-ca {
    height: 300px;
    padding: 0% 7%;
    background-color: #97b09f99;
    box-shadow: 5px 10px 18px #65786b;
}
.card-hy {
    height: 300px;
    padding: 0% 7%;
    background-color: #c23e3e99;
    box-shadow: 5px 10px 18px #802e2e;
}
.card-ti {
    height: 300px;
    padding: 0% 7%;
    background-color: #a19da699;
    box-shadow: 5px 10px 18px #59565c;
}
.card-en {
    height: 300px;
    padding: 0% 7%;
    background-color: #87c75f99;
    box-shadow: 5px 10px 18px #89a398;
}
.modal-background {
    background-image: url(../assets/images/modal-bg2-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-content {
    background-image: linear-gradient(#ffffff, #ffffffb3);
    width: 60%;
    height: 60%;
    padding: 4% 7%;
}
h1 {
    font-size: 35px;
    color: white;
    text-align: center;
}
i {
    padding-left: 18px;
}
.time-spot {
    padding-top: 40px;
    margin-bottom: 3%;
}
.quote-card {
    text-align: center;
}
.title {
    font-size: 3.5vmin;
    color: white;
}
.subtitle {
    font-size: 2.5vmin;
    color: white;
}
.content {
    font-size: 2.5vmin;
    color: white;
}
#song-content {
    text-align: center;
    font-size: 2.5vmin;
}
.song-title {
    font-size: 3.5vmin;
}
audio {
    position: relative;
    width: 100%;
    /* outline-color: yellowgreen; */
}
#previous-button {
    padding-right: 15px;
}
#last-card {
    margin-bottom: 15%;
}
@media screen and (max-width: 1240px) {
    .title {
        font-size: 3.25vmin;
    }
    .subtitle {
        font-size: 2.25vmin;
    }
    #song-content {
        font-size: 2.25vmin;
    }
    .song-title {
        font-size: 3.25vmin;
    }
}
@media screen and (max-width: 1030px) {
    #song-content {
        font-size: 2vmin;
    }
    .song-title {
        font-size: 3vmin;
    }
}
@media screen and (max-width: 845px) {
    .title {
        font-size: 2.75vmin;
    }
    .subtitle {
        font-size: 2.25vmin;
    }
    #song-content {
        font-size: 1.75vmin;
    }
    .song-title {
        font-size: 2.75vmin;
    }
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 3.5vmin;
    }
    .subtitle {
        font-size: 2.5vmin;
    }
    #song-content {
        font-size: 2.5vmin;
    }
    .song-title {
        font-size: 3.5vmin;
    }
}
